
{#<p>Aujourd'hui on est le : {{ "now" | date("d/m/y")}}</p>#}
<h1>hello {{ prenom | capitalize }} {{ nom | capitalize}}</h1>
{#<p>"Twig le moteur de templating de symfony créer vos propres fonctions et filtres"</p>#}
{#<img src="{{ asset('assets/image/') ~ path | defaultImage }} " alt="error">#}
