{% extends 'template.html.twig' %}
{% block Pagetitle%}
FisrtPage
{% endblock%}
 {% block title%}
first
 {% endblock %}
{% block body %}
    <div>
    <p>bonjour from symfonysf6</p>
    <p>{{ firstname }}{{ name }}</p>
    <p> {{ firstname }} {{ name }}</p>
    </div>
{% endblock %}


