<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block titreDudocument %}
            titre par default du document
        {% endblock %}
    </title>
</head>
<body>
header
<hr>
{% block corpsDuducument %}
    contenu par default du bloc corps
{% endblock %}
<hr>
Footer
</body>
</html>